body {
  margin: 0;
  overflow: hidden;
  background: black;
}

canvas {
  display: block;
}

#restartButton {
  position: absolute;
  top: calc(50% + 60px); /* abaixa o botão para não ficar em cima do texto */
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px 30px;
  font-size: 18px;
  background: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  display: none;
  z-index: 10;
}